.navbar-jojo {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid grey;
  position: fixed;
  display: flex;
  justify-content: space-around;
  background: #c7d7d7;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  z-index: 10;
}

.navbar-jojo img {
  height: 90px;
}

.banlog {
  height: 300px;
  width: 400px;
}

a.presentation {
padding: 12px 50px;
background: #893f3c;
color: #FFFFFF;
-webkit-transition: all 1.8s ease-out 0s;
-moz-transition: all 1.8s ease-out 0s;
transition: all 1.8s ease-out 0s;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
border: 4px dashed #000000;
font-family: 'Indie Flower', cursive;
}
a.presentation:hover {
background: #893f3c;
color: #000000;
border: 4px solid #34393E;
}


.wrapper {
  padding-top: 100px;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}


.content {
  background-color: #893f3c;
  width: 100%;
  height: 350vh;
  font-family: 'Indie Flower', cursive;
}

.presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
}

.team {
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-color: #c7d7d7;
  border-style: solid;
  border-radius: 26px;
  padding: 20px 20px;
  width: 100%;
}
.claudine {
  width: 300px;
  border-radius: 26px;
}
.jonathan {
  width: 300px;
  border-radius: 26px;
}
.perrine {
  width: 300px;
  border-radius: 26px;
}

.description{
  font-family: 'Indie Flower', cursive;
  color: #c7d7d7;
  margin: 20px;
}

.affiches img {
filter: sepia(1);
-webkit-filter: sepia(1);
}
.affiches img:hover {
filter: sepia(0);
-webkit-filter: sepia(0);
}
.affiches {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(95 158 160);
  border-color: #c7d7d7;
  border-style: solid;
  border-radius: 26px;
  padding: 20px 20px;
}
.affichecine{
  width: 200px;
  border-radius: 26px;
}

.info{
  font-family: 'Indie Flower', cursive;
  color: #c7d7d7;
  margin: 20px;
  padding:20px 20px; 
  display: flex;
  justify-content: space-around;
}

.maps{
  display: flex;
  align-items: center;
  padding:20px 20px; 
}

.mailchimp {
  display: flex;
  align-items: center;
  padding:20px 20px; 
}

.toolbar {
  background-color: #c7d7d7;
  width: 200px;

}

.tools {
  width: 100%;
  position: fixed;
  font-family: 'Indie Flower', cursive;
  padding:20px 20px; 
  }

body {
  margin: 0;
}

.banner-paralax {
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
text-shadow: 
        1px 1px 1px #CFB565,
        1px 2px 1px #CFB565,
        1px 3px 1px #CFB565,
        1px 4px 1px #CFB565,
        1px 5px 1px #CFB565,
        1px 6px 1px #CFB565,
        1px 7px 1px #CFB565,
        0 1px 1px rgba(68,68,68,.3),
        0 5px 3px rgba(68,68,68,.2),
        0 10px 4px rgba(68,68,68,.2),
        0 15px 8px rgba(68,68,68,.2),
        0 30px 10px rgba(68,68,68,.1);
}

h2 {
  display: flex;
  justify-content: center;
  text-shadow: 
        1px 1px 1px #CFB565,
        1px 2px 1px #CFB565,
        1px 3px 1px #CFB565,
        1px 4px 1px #CFB565,
        1px 5px 1px #CFB565,
        1px 6px 1px #CFB565,
        1px 7px 1px #CFB565,
        0 1px 1px rgba(68,68,68,.3),
        0 5px 3px rgba(68,68,68,.2),
        0 10px 4px rgba(68,68,68,.2),
        0 15px 8px rgba(68,68,68,.2),
        0 30px 10px rgba(68,68,68,.1);
}

.logocinem2 {
  height: 70vh;
}


.footer {
  background-color: #c7d7d7;
  height: 70px;
  width: 100%;
  font-family: 'Indie Flower', cursive;
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
}
